.EmailSendMessageForm {
    position: relative;
    width: 100%;
    background: var(--site-color-basic-background);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.2em;
    border: 1px solid var(--site-color-border-basic);
}

.EmailSendMessageForm:hover {
    box-shadow: 0.1em 0.1em 0.4em 0.2em rgb(196, 196, 196);
}

.EmailSendMessageForm p {
    width: 100%;
    margin-bottom: 0.2em;
}

.EmailSendMessageForm p input {
    width: 100%;
    border: 1px solid var(--site-color-border-basic);
    padding: 0.4em;
    border-radius: 0.2em;
   
}

.EmailSendMessageForm form > div {
    margin-top: 1em;
}

.EmailSendMessageForm form > div > button {
    padding: 0.4em 0.6em;
    margin-left: 0.4em;
    border: none;
    cursor: pointer;
    background: var(--site-color-basic-details-background);
    border-radius: 0.2em;
    color: var(--text-color-fourth);
    font-size: 16px;
}

.EmailSendMessageForm form > div > div {
    background: var(--site-color-basic-background);
    padding: 0.4em;
    border-radius: 0.3em;
    border: 1px solid var(--site-color-border-basic);
}

.EmailSendMessageForm form > div > div > div {
    margin-top: 0.2em;
}

.EmailSendMessageForm form > div > div > div > button {
    padding: 0.4em 0.6em;
    margin-left: 0.4em;
    border: none;
    cursor: pointer;
    background: var(--site-color-basic-details-background);
    border-radius: 0.2em;
    color: var(--text-color-fourth);
    font-size: 16px;
}

.EmailSendMessageForm form > div .Cancel,
.EmailSendMessageForm form > div .Schedule {
    background: var(--site-color-secondary-details-background);
}

.EmailSendMessageForm form > div button:first-child {
    margin: 0;
}

.DateTimePickerWrapper {
    margin: 0;
    top: 84%; left: 16%;
}

.DateTimePickerWrapper div {
    margin: 0 auto;
}