.EmailSendMessageForm {
    position: relative;
    width: 100%;
    background: white;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.2em;
    border: 1px solid lightgray;
}

.EmailSendMessageForm:hover {
    box-shadow: 0.1em 0.1em 0.4em 0.2em rgb(196, 196, 196);
}

.EmailSendMessageForm p {
    width: 100%;
    margin-bottom: 0.2em;
}

.EmailSendMessageForm p input {
    width: 100%;
    border: 1px solid lightgray;
    padding: 0.4em;
    border-radius: 0.2em;
   
}

.EmailSendMessageForm form > div {
    margin-top: 1em;
}

.EmailSendMessageForm form > div > button {
    padding: 0.4em 0.6em;
    margin-left: 0.4em;
    border: none;
    cursor: pointer;
    background: rgb(48, 105, 228);
    border-radius: 0.2em;
    color: white;
    font-size: 16px;
}

.EmailSendMessageForm form > div > div > div {
    background: white;
    padding: 0.2em;
    border: 1px solid lightgray;
}

.EmailSendMessageForm form > div > div > div > button {
    padding: 0.4em 0.6em;
    margin-left: 0.4em;
    border: none;
    cursor: pointer;
    background: rgb(48, 105, 228);
    border-radius: 0.2em;
    color: white;
    font-size: 16px;
}

.EmailSendMessageForm form > div .Cancel,
.EmailSendMessageForm form > div .Schedule {
    background: rgb(163, 163, 163);
}

.EmailSendMessageForm form > div button:first-child {
    margin: 0;
}

.Calendar {
    margin: 0;
    position: absolute;
    padding: 2em;
    background: lightgray;
    top: 84%; left: 0;
    box-shadow: 0.1em 0.1em 0.4em 0.2em rgb(196, 196, 196);
}

.Calendar div {
    margin: 0 auto;
}
