.EmailsList {
    display: block;
    min-width: 100%;
}

.EmailsList header {
    padding: 0.4em 1em;
    border-bottom: 1px solid var(--site-color-border-basic);
}

.EmailsList header h5 {
    font-weight: bold;
}

.EmailsList ul {

}

.EmailsList ul li {
    padding: 0.4em;
    background: var(--site-color-third-background);
    border-bottom: 1px solid var(--site-color-border-basic);
}

.EmailsList ul li:hover {
    cursor: pointer;
    background: var(--site-hover-color-basic-backgorund);
}
