.EmailCardHistory {
    
}

.EmailCardHistory > header {
    padding: 0.4em;
    border-top: 1px solid var(--site-color-border-basic);;
}

.EmailCardHistory ul li {
    background: var(--site-color-basic-background);
    margin-top: 0.6em;
    border-bottom: 1px solid var(--site-color-border-basic);;
    cursor: pointer;
}

.EmailCardHistory ul li section header {
    display: flex;
}

.EmailCardHistory ul li section header h6 {
    font-weight: bold;
}

.EmailCardHistory ul li section > header > p {
    margin-left: auto;
    font-style: italic;
    color: var(--text-color-third);;
}

.EmailCardHistory ul li section header h6, 
.EmailCardHistory ul li section > p {
    color: var(--text-color-third);
}

.Disabled {
    display: none;
}