.EmailContainerSidebar {
    background: var(--site-color-basic-background);
    width: 10%;
    height: 94vh;
    border-right: 1px solid var(--site-color-border-basic);
}

.EmailContainerSidebar nav {
    width: 100%;
}

.EmailContainerSidebar nav ul {
    width: 100%;
    padding-top: 2em;
}

.EmailContainerSidebar nav ul li {
    width: 100%;
}

.EmailContainerSidebar nav ul a {
    display: block;
    width: 100%;
    padding: 0.2em 1em;
    color: var(--text-color-basic);
    background: var(--site-color-basic-background);
    font-size: 18px;
}

.EmailContainerSidebar nav ul li a:hover {
    color: var(--text-color-fourth);
    background: rgb(196, 196, 196);
}

.EmailContainerSidebar nav ul li > .Active {
    color: var(--text-color-fourth);
    background: rgb(160, 160, 160);
}

.NewMessageButton {
    display: block;
    width: 100%;
    background: var(--site-color-basic-details-background);
    height: 3em;
    padding-top: 0.5em;
    cursor: pointer;
}

.NewMessageButton p {
    text-align: center;
    width: 100%;
    color: var(--text-color-fourth);
    font-size: 20px;
}