.EmailListContainer {
    width: 25%;
    border-right: 1px solid gray;
    background: rgb(240, 240, 240);
}

.EmailListContainer main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ListEmails {
    max-height: calc(94vh - 3em);
    width: 100%;
    overflow-y: scroll;
    /* padding: 0.8em; */
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
  background: gray; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);/* color of the scroll thumb */
  /* border-radius: 0.2em;  */
}
