.EmailListContainer {
    width: 25%;
    border-right: 1px solid var(--site-color-border-basic);
    background: var(--site-color-third-background);
}

.EmailListContainer main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ListEmails {
    max-height: calc(94vh - 3em);
    width: 100%;
    overflow-y: scroll;
    /* padding: 0.8em; */
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}
