.EmailsList {
    display: block;
    min-width: 100%;
}

.EmailsList ul {

}

.EmailsList ul li {
    padding: 0.4em;
    background: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(190, 190, 190);
}

.EmailsList ul li:hover {
    cursor: pointer;
    background: rgb(200, 200, 200);
}
