:root {
    /* --font-size-body-smaller: 10px;
    --font-size-body-small: 10px;
    --font-size-body-mid: 12px;
    --font-size-body-larger: 13px;
    --font-size-body-big: 14px;
    --font-size-body-huge: 22px; */

    --site-color-basic-background: rgb(255, 255, 255);
    --site-color-secondary-background: rgb(245, 245, 245);
    --site-color-third-background: rgb(240, 240, 240);

    --site-color-basic-details-background: rgb(48, 105, 228); 
    --site-color-secondary-details-background: rgb(163, 163, 163);
    --site-color-third-details-background: rgb(235, 235, 235);

    --site-color-border-basic: lightgray;
   
    --site-hover-color-basic-backgorund: rgb(200, 200, 200);
    --site-hover-color-secondary-backgorund: rgb(128, 128, 128);

    --text-color-basic: rgb(0, 0 ,0);
    --text-color-secondary: rgb(70, 70, 70);
    --text-color-third: gray;
    --text-color-fourth: white; 

    --main-layout-width: 100vw;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: var(--main-layout-width);
}

body, table, form, select, option, input, textarea {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    letter-spacing: 0.01em;
    font-weight: 100;
    font-family: sans-serif;
    color: var(--text-color-secondary)
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

a {
    text-decoration: none;
}

li {
    list-style: none;
}